.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo--light {
    color: var(--secondary-text-color);
}

.logo--dark {
    color: var(--title-text-color);
}