body {
    font-family: "Roboto", sans-serif;
    color: var(--primary-text-color);
    background-color: var(--background-color-white);
    margin: 0px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}